# Add these blocks to /opt/apps/proxy/Caddyfile on the VPS.

vmestevkusnee.ru {
  encode zstd gzip

  request_body {
    max_size 120MB
  }

  reverse_proxy vv-delivery-app:3000
}

www.vmestevkusnee.ru {
  redir https://vmestevkusnee.ru{uri} permanent
}

delivery.vmestevkusnee.ru {
  redir https://vmestevkusnee.ru{uri} permanent
}

partners.vmestevkusnee.ru {
  redir https://vmestevkusnee.ru/partners{uri} permanent
}

admin.vmestevkusnee.ru {
  redir https://vmestevkusnee.ru/admin{uri} permanent
}
